@charset "utf-8";

body{
    position: relative;
    background-color: #0f1115;
}

.about-sound-bar {
  position: absolute;
  top: 0;
  z-index: -1;
  width: auto;
  height: 100%;
}
.about-sound-bar--right {
  right: 0;
}
.about-sound-bar--left {
  left: 0;
}


.side-nav {
    position: fixed;
    top: 110px;
    left: -2px;
}

.side-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.side-nav li {
  padding: 20px 10px 20px 40px;
  border: 2px solid #e6e6e6;
  font-size: 14px;
  background-color: #292c34;
    font-weight: 700;
}

.taitoru{
    font-size: 55px;
    padding-top: 265px;
    display: flex;
    justify-content: center;
      font-weight: 500;
}

.syoukai img{
    width: 300px;
    height: 300px;
    margin-left:390px ;
    margin-top: 95px;
}

.syoukai{
    display: flex;
}

.migi{
    margin-top: 75px;
    margin-left: 95px;
}

.naiyou1{
    font-size: 20px;
    line-height: 1.75;
      font-weight: 700;
}

.naiyou2{
    font-size: 25px;
    padding-top: 75px;
}

.naiyou3{
    font-size: 30px;
    padding-top: 43px;
}

.naiyou4{
    font-size: 25px;
    padding-top: 47px;
    padding-left: 30px;
}

.namae{
    display: flex;
}

.honnbunn{
    font-size: 25px;
    max-width: 827px;
    margin: 0 auto;
    margin-top: 140px;
}

.honnbunn p{
    margin-bottom: 65px;
    line-height: 1.72;
}

.contact{
    margin-top: 55px;
}

.contact{
    margin-top: 150px;
}

.sikaku{
    width: 1100px;
    height: 425px;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    border-radius: 10px;
}

.contact-taitoru{
    font-size: 55px;
    padding-left: 45px;
    padding-top: 50px;
      font-weight: 500;
}

.contact-naiyou1{
    font-size: 20px;
    padding-left: 45px;
    padding-top: 40px;
}

.contact-naiyou2{
    font-size: 16px;
    padding-left: 45px;
    padding-top: 40px;
    line-height: 1.75;
}


.work-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 55px;
  background: #e6e6e6;
  color: #ff3d8b;
  border-radius: 30px;
  font-size: 15px;
  margin-left: 45px;
  margin-top: 50px;
  transition: 0.3s;
}

.work-btn:hover{
    background-color: #ff3d8b;
    color: #e6e6e6;
}

.saigo{
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.otomigi{
    display: none;
}
.otohidari{
    display: none;
}
.kakusi{
    display: none;
}

@media (max-width: 768px){
   .side-nav{
    display: none;
   }

    .otomigi{
    display: block;
    right: 0;
  }
.otohidari{
    display: block;
    left: 0;
  }
  .about-sound-bar {
  position: absolute;
  top: 0;
  z-index: -1;
  width: auto;
  height: 1313px;
}
.about-sound-bar--right {
  display: none;
}
.about-sound-bar--left {
  display: none;
}

.taitoru {
    font-size: 25px;
    padding-top: 50px;
}
.syoukai {
    display: block;
}
.syoukai img {
    width: 130px;
    height: 130px;
    padding-top: 40px;
    padding-bottom: 18px;
    display: block;
    margin: 0 auto;
}
.naiyou1 {
    font-size: 15px;
    line-height: 1.7;
    display: flex;
    justify-content: center;
    
}
.naiyou2{
    font-size: 18px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
.naiyou3{
    font-size: 22px;
    padding-top: 0;
}
.naiyou4{
    font-size: 20px;
    padding-top: 0;
}
.migi{
    margin-top: 0;
    margin-left: 0;
}
.namae {
    justify-content: center;
    margin-top: 25px;
}

.honnbunn{
    font-size: 14px;
    max-width: 296px;
    margin: 0 auto;
    margin-top: 45px;
}
.honnbunn p{
    line-height: 1.7;
    margin-bottom: 30px;
    text-align: center;
}
.kakusi{
    display: block;
}
.contact-taitoru {
    font-size: 25px;
    padding-left: 30px;
    padding-top: 30px;
}
.contact-naiyou1 {
    font-size: 15px;
    padding-left: 30px;
    padding-top: 35px;
}
.contact-naiyou2{
    font-size: 15px;
    padding-left: 30px;
    padding-top: 35px;
}

.work-btn{
    width: 175px;
    height: 45px;
    margin-top: 45px;
    margin-left: 30px;
    font-size: 12px;
}
.sikaku{
    width: 300px;
    height: 400px;
}
.contact{
    margin-top: 20px;
}
.saigo{
        font-size: 6px;
        padding-top: 20px;
    }

}